<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<dataProviders>
			<rhino type="Rhino.FilteredSerializationDataProvider, Rhino">
				<param desc="connectionStringName">serialization</param>
				<param desc="presetName">default</param>
			</rhino>
		</dataProviders>

		<databases>
			<database id="master">
				<dataProviders>
					<dataProvider id="rhino" ref="dataProviders/rhino" patch:before="dataProvider[@ref='dataProviders/main']" />
				</dataProviders>
			</database>
		</databases>

		<serialization>
			<default>
				<!--
					Each include can also have several types of exclusion added under them to exclude specific subitems:
					<exclude path="/sitecore/content"/>
					<exclude template="Page"/>
					<exclude templateid=""/>
					<exclude id=""/>
				-->
				<include database="master" path="/sitecore/layout"/>
				<include database="master" path="/sitecore/system">
					<exclude path="/sitecore/system/Publishing targets"/>
					<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Website"/>
					<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Local Forms"/>
					<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Sample forms"/>
				</include>
				<include database="master" path="/sitecore/templates">
					<exclude path="/sitecore/templates/System"/>
				</include>
			</default>
		</serialization>
	</sitecore>
</configuration>