<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <nosqlserialization type="Rhino.RhinoSerializationDataProvider, Rhino">
        <param desc="connectionStringName">$(1)</param>
      </nosqlserialization>
    </dataProviders>

    <databases>      
      <database id="nosqlserialization" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <icon>People/16x16/cubes_blue.png</icon>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/nosqlserialization" param1="$(id)"></dataProvider>
        </dataProviders>
        <securityEnabled>true</securityEnabled>
        <proxiesEnabled>false</proxiesEnabled>
        <publishVirtualItems>false</publishVirtualItems>
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>10MB</items>
          <paths>500KB</paths>
          <standardValues>500KB</standardValues>
        </cacheSizes>
      </database>
    </databases>
  </sitecore>
</configuration>